/* =============
    Hero
============= */
#hero {
    img {
        width: 100%;
    }

    section {

        ul {

            @include md {
                grid-area: hero-content;
                display: grid;
                grid-template-columns: 40% auto;
            }

            @include lg {
                grid-template-columns: 50% auto;
            }


            li {

                a:link,
                a:visited {
                    color: $black;
                    transition: 0.25s;

                    &:hover,
                    &:active {
                        background-color: $black;
                        color: $white;
                    }
                }
            }

            #product{
                background-color: $electricYellowDark;

                @include xl{
                    display: grid;
                    grid-template-columns: auto 600px;
                    grid-template-areas: ". product";
                }

                a{
                    @include xl{
                        grid-area: product;
                    }
                }

            }

            #location{
                background-color: $electricYellow;

                @include xl{
                    display: grid;
                    grid-template-columns: 600px auto ;
                    grid-template-areas: "location .";
                }

                a{
                    @include xl{
                        grid-area: location;
                    }
                }

            }
        }
    }
}