/* =============
    Hero
============= */
#hero {
	>div {
		img {
			display: block;
			object-fit: cover;
			width: 100%;
		}

		ul {
			background-color: $electricYellowDark;

			@include md {
				display: grid;
				grid-template-columns: 40% auto;
			}

			@include lg {
				grid-template-columns: 50% auto;
			}

			li {

				a:link,
				a:visited {
					color: $black;
					display: flex;
					padding: 16px;
					transition: 0.25s;

					@include md {
						padding: 16px;
					}

					&:hover,
					&:active {
						background-color: $black;
						color: $white;
					}

					.hero-left {
						align-items: center;
						display: flex;
					}

					.hero-right {
						align-items: center;
						display: flex;
						font-size: rem-calc(18);
						margin-left: auto;

						h5 {
							display: none;
							margin-right: 10px;

							@include lg {
								display: block;
							}
						}
					}
				}
			}

			#hero-item {
				@include xl {
					display: grid;
					grid-template-columns: auto 700px;
				}

				h2 {
					font-size: rem-calc(18);
					font-weight: 700;

					@include md {
						margin-bottom: 8px;
					}

					@include lg {
						font-size: rem-calc(25);
					}
				}

				p {
					font-size: rem-calc(16);
					font-weight: 600;
				}
			}

			#hero-location {
				background-color: $electricYellow;

				@include xl {
					display: grid;
					grid-template-columns: 700px auto;
				}

				p {
					font-weight: 400;

					span {
						font-weight: 600;
					}
				}

				#location-top {
					@include md {
						margin-bottom: 8px;
					}
				}
			}
		}
	}
}