/* =============
    Hero 2
============= */
#hero-2 {


	>div {


		ul {
			

			li {
				background-position: center;
				background-size: cover;
				height: 320px;

				
			}

			#hero-2-1 {
				background-image: url("../img/hero-2/hero-2-1.jpg");

				
			}

			#hero-2-2 {
				background-image: url("../img/hero-2/hero-2-2.jpg");

				
			}

			#hero-2-3 {
				background-image: url("../img/hero-2/hero-2-3.jpg");
				display: none;

				
			}
		}
	}
}