#new {

	>div {


		ul {
			display: grid;
			gap: 16px;
			
			li {

			}
			#new-gallery-1 {
			
				>div {
					background-image: url("../img/new/gallery-1.jpg");
				}
			}
			#new-gallery-2 {
				
				>div {
					background-image: url("../img/new/gallery-2.jpg");
				}
			}
			#new-gallery-3 {
				
				>div {
					background-image: url("../img/new/gallery-3.jpg");
				}
			}
			#new-gallery-4 {
				
				>div {
					background-image: url("../img/new/gallery-4.jpg");
				}
			}
			#new-gallery-5 {
				
				>div {
					background-image: url("../img/new/gallery-5.jpg");
				}
			}
		}
	}
}
