/* =============
    Planning
============= */
#planning {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". planning .";

    @include xl {
        grid-template-columns: auto 1000px auto;
    }

    >div {
        padding: 0 16px;
        grid-area: planning;

        ul {
            @include md {
                display: grid;
                grid-template-columns: 50% auto;
                gap: 16px;
            }

            li {

                background-color: $alpineFrost;
                padding: 16px;

                @include md {
                    padding: 24px 16px;
                }

                @include md {
                    padding: 24px 16px;
                }

                section {
                    padding-right: 20%;

                    @include md {
                        padding-right: 0%;
                    }

                    div {
                        h1 {
                            font-size: rem-calc(22);
                            font-weight: 400;
                            margin-bottom: 8px;

                            @include md {
                                font-size: rem-calc(29);
                            }
                        }
                    }
                }

                aside {

                    div {
                        background-position: center;
                        background-size: cover;
                        border: 4px $white solid;
                        border-radius: 100%;
                        height: 85px;
                        width: 85px;

                        @include md {
                            height: 113px;
                            width: 113px;
                        }
                    }

                    #planning-left {
                        background-image: url("../img/planning/planning-left.jpg");
                    }

                    #planning-right {
                        background-image: url("../img/planning/planning-right.jpg");
                    }
                }
            }
        }
    }
}